
* {
    margin: 0;
    padding: 0;                
}

body{
    width: 100%;
    height: 100%;
    font-family: 'Fira Sans Condensed', sans-serif;
}

html{
    height: 100%;                
}

.link-menu {
    color: black;
    font-family: 'Fira Sans Condensed';
    font-weight: 500;
    font-size: 14px;
    text-decoration: none;
    margin-left: 1em;
}

.logo-span {
    font-family: 'Fira Sans Condensed', sans-serif;
    font-weight: 800;    
    cursor: pointer;
}

.container-home{
    background: white;
    width: 100%;
    height: 100%;
    display: inline-block;
}

h1, h2, h3, h4, h5{
    font-family: sans-serif;
    font-weight: 100;
}

input{
    padding: 2%;
    margin: 0;
    margin-top: 5px;    
    width: -webkit-fill-available;
    width: -moz-available;
    font-size: 15px;
    color: gray;
    font-weight: 100;
    border: 1px solid silver;
    border-radius: 5px;
}

button{
    width: 100%;
    font-size: 15px;
    border-radius: 5px;
    cursor: pointer;
}

.btn-primary{
    background: #9de36e;
    border: 1px solid #8cac7d;
    color: white;
    padding: 7px;
    margin-bottom: 5px;
}

.btn-primary:hover{
    background: white;
    color: #9de36e;
    border: 1px solid #9de36e;
}

.btn-secondary{
    color: white;
    background: gray;
    border: 1px solid gray;
    padding: 7px;
}

.btn-secondary:hover{
    background: #ebebeb;
    color: gray;
}

header{
    width: 100%;
    height: 10%;
    display: flex;
    align-items: center;
    color: black;
    font-size: 20px;
}

header h3{
    margin-left: 20px;
    display: flex;
}

header h3 img{
    width: 30px;
    animation: App-logo-spin infinite 2s linear;
    pointer-events: none;
}

@keyframes App-logo-spin {
  from {
    transform: rotateY(360deg);
  }
  to {
    transform: rotateY(0deg);
  }
}

.content{
    width: 100%;
    height: 90%;
    float: right;
}

.navigation-bar{
    padding: 10px;    
}

.navigation-bar a{
    text-decoration: none;
    color: #072146;
    font-size: 15px;
    font-family: sans-serif;    
}

.navigation-bar a:hover{
    font-weight: bold;
}

.page{
    padding: 10px;
    padding-top: 0px;
}

.span-logout{
    width: auto;
    float: right;
    color: black;
    padding: 10px;
    font-size: 14px;
    font-weight: 600;
    cursor: pointer;
}

.span-login{
    width: auto;
    float: right;
    color: black;
    font-size: 14px;
    font-weight: 600;
    margin-left: auto;
    margin-right: 20px;
    cursor: pointer;    
}

.title-user{
    width: auto;
    margin: auto;
    margin-right: 20px;
    font-weight: bolder;
    font-family: 'Fira Sans Condensed';
    font-size: 15px;
}

.elements-header{
    width: auto;    
    margin-left: auto;
    margin-right: 20px;
    display: flex;
}

.nav-selected{
    font-weight: bold;
    color: black;
    font-family: 'Fira Sans Condensed';
    font-size: 14px;
    text-decoration: none;
    margin-left: 1em;    
}

.purchases-table{
    width: 100%;
    max-width: 100%;
    margin-bottom: 1rem;
    background-color: transparent;
    border-collapse: collapse;
    box-sizing: border-box;
    display: table;
    border-spacing: 2px;
    border-color: grey;        
}

.purchases-table thead th{
    vertical-align: bottom;
    border-bottom: 2px solid #dee2e6;
    padding: .5rem;
    vertical-align: top;
    border-top: 1px solid #dee2e6;
    text-align: inherit;
    font-size: 14px;
    font-family: 'Fira Sans Condensed';
    line-height: 1.5;
}

.purchases-table td{
    padding: .2em;
    vertical-align: top;
    border-top: 1px solid #dee2e6;    
    color: black;
    font-size: 12px;
    font-weight: 400;
    vertical-align: middle;
}

.purchases-table tbody tr{
    display: table-row;
    vertical-align: inherit;
    border-color: inherit;    
    box-sizing: border-box;
    background-color: rgba(0,0,0,.05);
}

.btn-ver-carrito{
    width: auto;
    background: #004481;
    border: 2px solid #004481;
    color: white;
    padding: 10px;
    font-weight: bolder;
    margin-left: auto;
    margin-right: 5px;    
    border-radius: 7px;
}

.btn-eliminar {
    width: auto;
    color: black;
    padding: 10px;
    font-weight: 500;
    margin-left: auto;
    font-size: 12px;
    margin-right: 5px;
    border: 0px solid transparent;
    background: transparent;
    border-radius: 7px;
    font-family: 'Fira Sans Condensed';
}

.btn-editar{
    width: auto;
    background: transparent;
    border: 0px solid transparent;
    color: black;
    padding: 10px;
    font-size: 12px;
    font-weight: 500;
    margin-left: auto;
    margin-right: 5px;    
    border-radius: 7px;   
    font-family: 'Fira Sans Condensed';    
}