/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 10/05/2019, 10:48:45 AM
    Author     : mmendoza
*/

* {
    margin: 0;
    padding: 0;                
}

.compras-title {
    font-size: 30px;
    color: #072146;
}

.message-01 {
    font-size: 20px;
    color: gray;    
}

#compras-table{
    padding: 10px;
}

.btn-new {
    width: auto;    
    background: #C4C4C4;
    border: 1px solid #C4C4C4;
    color: black;
    font-family: 'Fira Sans Condensed';
    font-weight: 700;
    padding: 7px 15px;
    margin-bottom: 5px;
    border-radius: 0px;
}