* {
    margin: 0;
    padding: 0;                
}

body{
    width: 100%;
    height: 100%;
    font-weight: 100;                
}

html{
    height: 100%;                
}

.modal-snackbar-container{
    display: flex;
    position: fixed;
    z-index: 1;
    top: 0;    
    border: 0px solid transparent;
    background: transparent;
    padding: 0px;
    border-radius: 5px;
    width: 100%;
    justify-content: center;
}

.modal-snackbar-header{
    width: auto;
    padding: 15px;
    border-bottom: 0px solid transparent;
    font-size: 20px;
    color: white;
    background: #1464a5;
    border-radius: 5px;
}

.modal-snackbar-header h1{
    font-size: 15px;
}