* {
    margin: 0;
    padding: 0;                
}

body{
    width: 100%;
    height: 100%;
    font-weight: 100;                
}

html{
    height: 100%;                
}

.modal-container{
    z-index: 1;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    border: 0px solid transparent;
    background: black;
    padding: 0px;
    width: 40%;
}

.modal-header{
    padding: 15px;
    font-size: 20px;
    color: white;
    font-family: 'Fira Sans Condensed';
}

.modal-header h1 {
    font-family: 'Fira Sans Condensed';
    font-weight: 400;
}

.modal-body{
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 30px; 
}

.modal-footer{
    padding: 10px;
    text-align: right;
    margin-top: 30px;
}

.modal-footer button{
    width: auto;    
    background: #C4C4C4;
    border: 1px solid #C4C4C4;
    color: black;
    font-family: 'Fira Sans Condensed';
    font-weight: 700;
    padding: 7px 15px;
    margin-bottom: 5px;
    border-radius: 0px;
    margin-left: .5em;
}

.modal-body input{
    border-radius: 0px;
    background: transparent;
    border: 0px solid transparent;
    border-bottom: 1px solid white;
    color: white;
    margin-bottom: .5em;
    margin-top: 5px;
}

.modal-body input::placeholder {
  color: white;
  opacity: 1;
}

.total-modal{
    font-size: 30px;
    float: right;
    font-weight: 100;
}

.modal-body h3{
    width: 100%;
    font-weight: 400;
    font-family: 'Fira Sans Condensed';
    color: white;
    font-size: 14px;
}

.modal-body select{
    border: 0px solid transparent;
    border-bottom: 1px solid white;
    background: transparent;
    color: white;
    padding: 10px;
    width: 100%;
    margin-top: 5px;
}