* {
    margin: 0;
    padding: 0;                
}

body{
    width: 100%;
    height: 100%;
    font-weight: 100;                
}

html{
    height: 100%;                
}

.modal-container{
    z-index: 1;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    border: 1px solid gray;
    background: white;
    padding: 0px;
    border-radius: 10px;
    -webkit-box-shadow: 4px 4px 48px 9px rgba(0,0,0,0.75);
    -moz-box-shadow: 4px 4px 48px 9px rgba(0,0,0,0.75);
    box-shadow: 4px 4px 48px 9px rgba(0,0,0,0.75);
    width: 40%;
}

.modal-header{
    padding: 15px;
    border-bottom: 2px solid #1464a5;
    font-size: 20px;
    color: white;
    background: #1464a5;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.modal-body{
    padding: 10px;
    margin-top: 10px;    
}

.modal-footer{
    padding: 10px;
    border-top: 1px solid gray;
    text-align: right;
    margin-top: 30px;
}

.modal-footer button{
    padding: 10px;
    border-radius: 5px;
    width: auto;
    display: inline-block;
    border: 1px solid black;
    background: white;
    color: gray;
}

.modal-footer button:hover{
    border: 1px solid gray;
    background: gray;
    color: white;
}

.modal-body input{
    border: 1px solid gray;
    border-radius: 5px;
    margin-top: 5px;    
}

.total-modal{
    font-size: 30px;
    float: right;
    font-weight: 100;
}

.modal-body h3{
    width: 100%;
    font-weight: 200;
}

.modal-body select{
    border: 1px solid gray;
    border-radius: 5px;
    padding: 10px;
    width: 100%;
    margin-top: 5px;
}

.error-confirmacion-compra{
    padding: 10px;
    background: #FF6E6E;
    border-radius: 5px;
    margin-top: 10px;
    color: white;
    text-align: center;
}