* {
    margin: 0;
    padding: 0;                
}

body{
    width: 100%;
    height: 100%;
    font-weight: 100;                
}

html{
    height: 100%;                
}

.login-box input::placeholder {
  color: white;
  opacity: 1;
}

.login-box{
    z-index: 1;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    border: 1px solid black;
    width: 45%;
    color: white;
    margin: auto;
    padding: 2%;
    background: black;
    border-radius: 0px;    
}

.cart-box input::placeholder {
  color: white;
  opacity: 1;
}

.cart-box{
    z-index: 1;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    border: 1px solid black;
    width: 45%;
    color: white;
    margin: auto;
    padding: 2%;
    background: black;
    border-radius: 0px;    
}

.cart-box h3 {
    font-family: 'Fira Sans Condensed', sans-serif;
    font-weight: 500;
}

h1, h2, h3, h4, h5{
    font-family: 'Fira Sans Condensed', sans-serif;
    font-weight: 100;
}

.login-box input{
    padding: 2%;
    margin: 0;
    margin-top: 5px;
    width: -webkit-fill-available;
    width: -moz-available;
    font-family: 'Fira Sans Condensed', sans-serif;
    font-size: 15px;
    color: white;
    background: transparent;
    font-weight: 100;
    border: 0px solid transparent;
    border-radius: 0px;
    border-bottom: 1px solid white;
}

.login-box h3 {
    color: white;
    font-family: 'Fira Sans Condensed', sans-serif;
    font-size: 24px;
    font-weight: 500;
}

.form-login{
    margin-top: 15px;
    margin-bottom: 15px;
    width: 70%;
    margin-left: auto;
    margin-right: auto;
}

.login-box button{
    width: 100%;
    font-size: 15px;
}

.btn-primary{
    background: #C4C4C4;
    border: 1px solid #C4C4C4;
    color: black;
    font-family: 'Fira Sans Condensed';
    font-weight: 700;
    padding: 7px;
    margin-bottom: 5px;
    border-radius: 0px;
}

.btn-secondary-login{
    background: transparent;
    border: 0px solid transparent;    
    color: white;
    font-family: 'Fira Sans Condensed';
    font-weight: 700;
    padding: 7px;
    margin-bottom: 5px;
    border-radius: 0px;
}

.error-login{
    margin-bottom: 1em;
    padding: 10px;
    background: red;
    background: #FF6E6E;
    border-radius: 5px;
    color: white;
    text-align: center;
    margin-top: 10px;
}