/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 10/05/2019, 10:48:45 AM
    Author     : mmendoza
*/

* {
    margin: 0;
    padding: 0;                
}

body{
    width: 100%;
    height: 100%;
    font-weight: 100;                
}

html{
    height: 100%;                
}

.container{
    background: transparent;
    width: 100%;
    display: inline-block;
}

h1, h2, h3, h4, h5{
    font-family: sans-serif;
    font-weight: 100;
}

input::placeholder {
  color: black;
  opacity: 1;
}

input{
    padding: 15px;
    margin: 0;
    width: -webkit-fill-available;
    width: -moz-available;    
    font-size: 15px;
    color: black;
    font-weight: 100;
    border: .5px solid black;
    font-family: 'Fira Sans Condensed', sans-serif;
    border-radius: 0px;
}

button{
    width: 100%;
    font-size: 15px;
}

.btn-primary{
    background: #9de36e;
    border: 1px solid #8cac7d;
    color: white;
    padding: 7px;
    margin: 0;
}

.btn-primary:hover{
    background: white;
    color: #9de36e;
    border: 1px solid #9de36e;
}

.btn-secondary{
    color: white;
    background: gray;
    border: 1px solid gray;
    padding: 7px;
}

.btn-secondary:hover{
    background: #ebebeb;
    color: gray;
}

.search-block{
}

.search-btn{
    width: 10%;
    background: #004481; 
    color: white;
    border: 1px solid #004481;
    border-radius: 0px 5px 5px 0px; 
}

.product-card{    
    background: black;
    display: inline-block;
    width: 200px;
    height: 200px;
    margin-right: 3em;
    margin-bottom: 3em;
    padding: 1em;    
}

.product-title{
    text-align: left;
    font-weight: bolder;
    font-size: 14px;
    color: white;
    font-family: 'Fira Sans Condensed';
}

.product-category{
    text-align: left;
    font-size: 12px;
    color: white;
    font-family: 'Fira Sans Condensed';
    font-weight: 300; 
}

.product-price{
    text-align: right;
    font-weight: bolder;
    font-size: 16px;
    font-family: 'Fira Sans Condensed';
    color: white;
}

.cant-input{
    padding: 5px;
    margin: 0;
    background: black;
    font-size: 15px;
    font-weight: 100;
    color: white;
    border: 0px solid transparent;
    border-radius: 5px;
    text-align: right;
}

.kart-table {
    width: 100%;
}

.kart-item-label{
    margin-top: 5px;
    font-weight: bold;
}

.kart-item-text{
    text-align: right;
    padding: 5px;
}

.product-block{    
    text-align: center;
    padding-top: 10px;
    margin-top: 2em;
}

.product-block h2 {
    font-family: 'Fira Sans Condensed';
}

.product-buy{
    background: #C4C4C4;
    border: 1px solid #C4C4C4;
    color: black;
    margin-top: 10px;
    font-size: 10px;
    font-weight: 700;
    padding: 7px;
    font-family: 'Fira Sans Condensed';
    width: auto;
    float: right;
}

.product-buy:hover{
    background: white;
    color: #02a5a5;
    border: 1px solid #02a5a5;
}

.description-block{
    width: 70%;
    margin-left: auto;
    margin-right: auto;
}

select{
    float: right;
    margin-bottom: 10px;
    font-size: 15px;
    font-family: 'Fira Sans Condensed';
    padding: 7px;
    background: white;
    border: 1px solid black;
    color: black;
    border-radius: 0px;    
}

.btn-eliminar-item{
    width: 30px;
    height: 30px;
    float: right;
    font-weight: bold;
    cursor: pointer;
}